.git
.github
.agents
.claude
.codex
.gocache
.run
logs
storage
server/temp
server/logs
server/storage/cache
server/storage/diskqueue
server/storage/upload
server/resource/public/admin
server/resource/public/upload
web/dist
web/node_modules
web/.cache
web/.vite
new-client/target
new-client/deps/dist_linux
new-client/deps/dist_windows
new-client/deps/dist_macos
new-client/vendor/fastfetch-sys/fastfetch/build
**/.DS_Store
**/*.log
